#-------------------------------
# General Site Settings
title: "Tim McKenna | Design Executive"
description: "Senior Product & Design Leader"
url: "https://azraelgroup.github.io"
baseurl: "/timmckennadesign"




#-------------------------------
# Build Settings
markdown: kramdown
permalink: /:title
plugins:
  - jekyll-paginate
  - jekyll-sitemap

paginate: 4
paginate_path: "/blog/page/:num"


#-------------------------------
# Collections
collections:
  pages:
    output: true
    permalink: {{ site.baseurl }}/:name
  posts:
    output: true
    permalink: {{ site.baseurl }}/blog/:slug
  projects:
    output: true
    permalink: {{ site.baseurl }}/projects/:slug
  videos:
    output: true
    permalink: {{ site.baseurl }}/videos/:slug
  gallery:
    output: true
    permalink: {{ site.baseurl }}/gallery/:slug

# Pages Path
defaults:
  - scope:
      path: ""
    values:
      layout: "default"
  - scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "project"
  - scope:
      path: ""
      type: "videos"
    values:
      layout: "video"
  - scope:
      path: ""
      type: "gallery"
    values:
      layout: "gallery"

sass:
  sass_dir: _sass
  style: compressed
